@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar for Admin Sidebar */
.admin-scrollbar::-webkit-scrollbar {
  width: 5px;
}
.admin-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.admin-scrollbar::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border-radius: 20px;
}
