@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom/* Scrollbar Enhancement */
.admin-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.admin-scrollbar::-webkit-scrollbar-track {
  background: #f3f4f6;
  border-radius: 10px;
}

.admin-scrollbar::-webkit-scrollbar-thumb {
  background: #d1d5db;
  border-radius: 10px;
}

.admin-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #9ca3af;
}

/* Toast Slide Down Animation */
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}